# vi:ft=zsh

alias vi="$EDITOR"
alias vim="$EDITOR"

echo_ip () {
    dig TXT +short o-o.myaddr.l.google.com @ns.google.com | sed "s/\"//g"
}

alias emacs="emacs -nw"

if ls --color=auto &>/dev/null 2>&1; then
    alias ls='ls -ogh --color=auto'  # GNU ls (Linux)
else
    alias ls='ls -oghG'              # BSD ls (macOS)
fi

alias fzfc='grep --line-buffered --color=never -r "" * | fzf'

alias less='less --tabs=4 -RFX'
