# vi:ft=zsh

alias config='git --git-dir="$HOME/.myconf/" --work-tree="$HOME"'
compdef config=git

alias vi="$EDITOR"
alias vim="$EDITOR"

alias compose=docker-compose

# Clean up untagged images.
docker-clean-images () {
    docker rmi $(docker images -qf "dangling=true") 2> /dev/null
}

# List docker machines.
alias dml="docker-machine ls"
# Load docker-machine envs.
dme () {
    eval "$(docker-machine env $1)" 2> /dev/null
}

alias git-ignore="git update-index --assume-unchanged"
alias git-track="git update-index --no-assume-unchanged"

echo_ip () {
    dig TXT +short o-o.myaddr.l.google.com @ns.google.com | sed "s/\"//g"
}

alias emacs="emacs -nw"

alias ls='ls -lG'

alias fzfc='grep --line-buffered --color=never -r "" * | fzf'

alias less='less --tabs=4 -RFX'
