[user]
    name = Kelvin Chen
    email = kelvin@chen.fm
    # Add email to ~/.config/git/gitconfig to override
[push]
    default = simple
    followTags = true
[diff]
    compactionHeuristic = true
[remote "origin"]
    prune = true
[color]
    ui = auto
[core]
    pager = less -FMRiX
    excludesfile = ~/.config/git/excludes
[alias]
    dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)%an <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# Machine specific configuration
[include]
    path = .config/git/gitconfig
