[user]
	name = Kelvin Chen
	email = kelvin@kelvinchen.org
	signingkey = C10DF004
[push]
	default = simple
[diff]
	compactionHeuristic = true
[pager]
	log = diff-so-fancy | $PAGER
	show = diff-so-fancy | $PAGER
	diff = diff-so-fancy | $PAGER
[interactive]
	diffFilter = diff-so-fancy
[remote "origin"]
	prune = true
[commit]
	gpgsign = true
